
h1{
  font-family: 'Big Shoulders Display', cursive;
  color:hsl(0, 0%, 95%);

}
body{
  background-color: hsla(0, 0%, 100%, 0.75);
}
.main{
  margin: 100px 250px 100px 250px;
}

.cars{
float: left;
width: 33%;
height: 100px;
}


.sedans{
  background-color: hsl(31, 77%, 52%);
  padding: 40px 30px 50px 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}
.suv{
  background-color: hsl(184, 100%, 22%);
  padding: 40px 30px 50px 40px;
}
.luxury{
  background-color: hsl(179, 100%, 13%);
  padding: 40px 30px 50px 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.para{
  padding-bottom: 70px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 2;
}
.attribution{

  position:absolute;
  margin-left: 500px;
  margin-top: 500px;
}
.btn {

  border-radius: 24px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;

}
.btn1 {

  border-radius: 24px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(184, 100%, 22%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}
.btn2{

  border-radius: 24px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(179, 100%, 13%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}
